body{
  background-color: #1e2129;
  color: white;
}

.widget-title {
  margin-bottom: 10px;
  position: relative;
}

.more {
  float: right;
  padding: 1px 5px;
  color: #8e95a5;
  cursor: pointer;
}
